* {
  box-sizing: border-box;
}

body {
  background-color: lightgray;
  border: 3px solid #000;
}

.div {
  width: 250px;
  height: 250px;
  background-color: gray;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  border: 3px dashed #000;
  border-radius: 15%;
}